<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Cousu Mains
			{% endblock %}
		</title>
		<script src="https://kit.fontawesome.com/9a3df000a4.js" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="{{asset('assets/css/styles.css')}}">
	</head>

	<body>
		<div class="sub_menu">
			<div class="social-info">

				<i class="fa-brands fa-facebook-f"></i>
				<i class="fa-brands fa-twitter"></i>
				<i class="fa-brands fa-instagram"></i>


			</div>
			<div class="info">
				{% if app.user %}
					<a href="{{path('account')}}">
						<i class="fa-solid fa-user"></i>(<small>{{app.user.firstname}}</small>)</a>
					|
					<a href="{{path('app_logout')}}">Déconnexion</a>
				{% else %}
					<a href="{{path('app_login')}}">Connexion</a>
					|
					<a href="{{path('register')}}">Inscription</a>
				{% endif %}


				<i class="fa-solid fa-basket-shopping"></i>

			</div>
		</div>
		<div class="nav_bar">
			<div class="logo">

				<img src="{{asset('assets/img/logo.png')}}" alt="logo" height="250px">
				<a href="{{path('home')}}"></a>
			</div>
			<div class="menu_lien">
				<a href="{{path('home')}}">
					Accueil
				</a>


				<a href="{{path('products')}}">
					Créations
				</a>
				<a>Coffrets</a>
				<a href="{{path('contact')}}">Contact</a>

			</div>
			<div
				class="menu">{# {{form(form_search)}} #}
			</div>
		</body>
	</body>
</html></div>{% block content %}{% endblock %}</body></html></body></html>
